[Desktop Entry]
Version=1.0
Type=Application
Name=Winlink Pat
Comment=Runs Pat Winlink Client
Exec=/home/user/bin/run_pat.sh gui
Icon=mail
Path=
Terminal=true
StartupNotify=false
Categories=HamRadio;SDR
Keywords=HamRadio;SDR

